
/* @import url("fallback.css"); */
@layer first-named, second-named;
@layer first-named {
    p {
        background-color: blue !important;
    }
}

/* @layer {
    p {
        background-color: yellow;
    }
} */

@layer second-named {
    p {
        background-color: green;
    }
}

p {
    background-color: red !important;
}



